@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%
}

input, textarea, select {
  @apply border-2 border-gray-200 rounded-md mb-2 w-full py-2 px-4;
  @apply mb-2 ;
  @apply shadow-sm;
}

input:focus, textarea:focus, select:focus {
  @apply border-slate-800;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

h2 {
  @apply text-gray-800 mt-6 mb-2 text-lg;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-md shadow-sm;
}

table.basic {
  @apply w-full bg-white rounded-md shadow-lg;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-gray-600 text-sm uppercase border-b border-gray-300 px-4 py-2;
}

table.basic tr td {
  @apply  px-4 py-1 border-b border-gray-100 shadow-sm; 
}

table.basic a {
  @apply px-4 py-1 text-sm rounded-md inline-flex mx-1 items-center gap-1 ;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-md shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-600 border border-gray-200 px-4 py-1 rounded-md shadow-sm;
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
